
@import "../components/blog-post-card.css";
@import "../pages/index.css";
@import "../global.css";

body{
  grid-template-rows: 64px 67px 1fr 236px;

  grid-template-areas: 
    "hd hd hd"
    "topb topb topb"
    "main main main"
    "ft ft ft";
}

#main-content{
  grid-area: 1/2/2/3;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
