
@import "../components/card.css";
@import "../pages/index.css";
@import "../global.css";

.avatar{
    width: 58px;
    height: 58px;
    margin-right: 1%;
}

.social-media{
    justify-content: space-between;
}

.bubble{
    margin-right: 1%;
}

.red-bubble{
    background-color: #E60023;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-a-bubble{
    background-color: #3578E5;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-b-bubble{
    background-color: #0073B1;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.blue-c-bubble{
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 10px;
    height: 2vh;
    width: 15vw;
    border: none;
}

.comment{
    margin: 0% 0% 0% 0%;
}

.icon{
    width: 25px;
    height: 25px;
}

#share-icon{
    width: 50px;
    height: 50px;
}

#main-content{
    grid-area: 1/2/2/3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #484143;
}

#front{
    margin-bottom: 5%;
}

#post-image{
    background-image: url("../../../assets/images/desk-img.jpg");
    height: 25vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 1% 1% 1%;
    position: relative;
    left: 5%;
}

#post-image-caption{
    position: relative;
    top: 85%;
    color: white;
    background-color: rgb(72, 65, 67, 0.85);
    border-radius: 10px;
}

#update-date{
    font-size: 1.5em;
    color: rgb(72, 65, 67, 0.50);
}

#comment-label{
    width: 80px;
}

#comments{
    margin: 2% 0% 2% 0%;
}

#dropdown-icon{
    width: 30px;
    height: 30px;
}

@media(min-width: 985px){
    .red-bubble{
        height: 3vh;
    }
    
    .blue-a-bubble{
        height: 3vh;
    }
    
    .blue-b-bubble{
        height: 3vh;
    }
    
    .blue-c-bubble{
        height: 3vh;
    }
}

@media(min-width: 1500px) {
    #post-image{
        height: 55vh;
        width: 70vw;
        position: relative;
        left: 5%;
    }
}